<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false">
    <testsuites>
        <testsuite name="Bank Account Application">
            <directory suffix=".php">./AccountApp/tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./AccountApp</directory>
            <exclude>
                <directory>./AccountApp/tests</directory>
                <directory>./AccountApp/vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
